@import url("./fonts.css");
*{
    margin: 0;
    padding: 0;
    font-family: 'SourceHanSansCN';
}

body {
    background-image: url(https://bing.shangzhenyang.com/api/1080p);
    background-position: top center;
    background-size: cover;
}